@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: "Inter", serif;
}

/* ყვლეაზე მტავარი კონტეინერი */

.main-container {
    width: 100%;
    display: flex;
}

.aside {
    display: inline-flex;
    height: 992px;
    padding: 12px 28px 708px 28px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    background: #E7EEFF;
}

.aside-logo {
    width: 48px;
    height: 48px;
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-bottom: 1px solid #002B81;
}

.aside-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.aside-icons img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 42px;
}

header {
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
    align-items: center;
    background: #E7EEFF;
    height: 80px;
}

.header-search {
    width: 326px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.search-icon {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
}

.search-input {
    color: #000;
    width: 290px;
    height: 28px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    border: none;
    background: none;
}

.header-account {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 194px;
    height: 40px;
}

.header-account img {
    width: 40px;
    height: 40px;
    border-radius: 60px;
}

.header-account p {
    color: #5E6577;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

}

main {
    width: 100%;
    display: flex;
    justify-content: center;

}

.main-wrapper {
    max-width: 1336px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
}

.main-banner {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.banner-content {
    width: 550px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.banner-btn {
    display: flex;
    padding: 8px 24px 8px 12px;
    align-items: center;
    gap: 12px;
    border-radius: 16px;
    background: #E7EEFF;
}

.card-container {
    width: 100%;
    display: flex;

    justify-content: space-around;
    flex-wrap: wrap;
    gap: 42px;

}

.card {
    width: 353.33px;
    height: 355px;
}

.card-img {
    width: 353.33px;
    height: 275px;
}

.card-img img {
    width: 353.33px;
    height: 275px;
}

.card-info {
    display: flex;
    padding: 8px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    border-radius: 0px 0px 24px 24px;
    background: #E7EEFF;
}

.card-info p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.card-info span {
    color: #606060;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/* ყვლეაზე მტავარი კონტეინერი */

/*საიდ ბარი*/