@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.main-container {
    max-width: 1920px;
    width: 100%;
    height: 2676px;

    background: #FFF;

    display: inline-block;
}

.main-section {
    width: 1604px;
    height: 2344px;
    margin-top: 64px;
    margin-left: 50px;
    background: #FFB8D7;
    display: inline-block;

}

.feature-section {
    width: 1280px;
    height: 2152px;
    background: #FFF;
    margin-top: 96px;
    margin-left: 162px;
}

.header {
    width: 1280px;
    height: 136px;

}

.header-content {
    width: 1216px;
    height: 136px;

    margin-left: 32px;
}

.header-text {
    width: 929px;
    height: 24px;
    display: inline-block;
    align-items: center;
    text-align: center;

    margin: 0 143px;
    color: #002AFE;
    font-size: 16px;
    font-family: "Inter", serif;

}

.header-title {
    width: 929px;
    height: 44px;
    display: inline-block;
    margin: 0 143px;
    align-items: center;
    text-align: center;
    font-size: 40px;
    color: #181D27;
    margin-top: 12px;

}

.header-span {
    width: 1216px;
    height: 24px;
    display: inline-block;
    margin-top: 32px;
    text-align: center;
    color: #535862;
    font-family: "Inter", serif;
    font-size: 18px;

}


.article {
    width: 1280px;
    height: 512px;

    margin-top: 96px;
    margin-left: 66px;

}

.article-image {
    width: 600px;
    height: 462px;
    border-radius: 16px;


}

.article-info {
    width: 584px;
    height: 274px;


    margin-top: -380px;
    margin-left: 620px;



}

.info-text {
    width: 584px;
    height: 211px;



}

.title {
    width: 584px;
    height: 20px;
    align-items: center;
    color: #6941C6;
    font-family: "Inter", serif;
    font-size: 14px;


}

.heading {
    width: 584px;
    height: 40px;
    align-items: center;
    display: flex;

}

.heading h2 {
    font-size: 24px;
    font-family: "Inter", serif;

}

.arrow {
    margin-left: 30px;
}

.span {
    display: inline-block;
    width: 584px;
    height: 143px;
    color: #535862;
    font-family: "Inter", serif;
    font-size: 16px;


}

.author {
    width: 130px;
    height: 80px;
    align-items: center;
}

.author-icon {
    width: 24px;
    height: 24px;
}

.author-icon img {
    width: 24px;
    height: 24px;
    margin-top: 10px;
}

.author-info {
    margin-top: -20px;
    margin-left: 30px;
}

.author-info .author-name {
    color: #181D27;
    font-size: 14px;
    font-weight: 600;
}

.author-info .author-data {
    color: #535862;
    font-size: 14px;
    font-weight: 400;
}